<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fantasy.sangoUser.mapper.UserMapper">
    <sql id="Basic_Column">
        Account,Password,_id,Nickname
    </sql>
    <select id="selectUserByAccount" resultType="com.fantasy.sangoUser.entity.User">
        select <include refid="Basic_Column"/>
        from FantasyOfSango.UserInfos
        where Account=#{Account,jdbcType=VARCHAR}
    </select>

    <insert id="insertUser">
        insert into FantasyOfSango.UserInfos(Account,Password,_id,Nickname)
        values (#{Account},#{Password},#{_id},#{Nickname})
    </insert>
</mapper>